<%- include('head.ejs')%>
<style>
    .card-body{
        border-bottom: 1px solid #000000
    }
</style>
<div class="container">
    <h1>Curriculo</h1>
    <div>   
        
        

        <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
                <div class="card-header">Dados</div>
                <div class="card-body">
                  <h5 class="card-title"></h5>Nome</h5><p><%= data[0].nomeFree %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>sobrenome</h5><p><%= data[0].sobrenome %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Data Nascimento</h5><p><%= data[0].dataN %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Idade</h5><p><%= data[0].idade %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>email</h5><p><%= data[0].email %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>telefone</h5><p><%= data[0].telefone %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>objetivo</h5><p><%= data[0].objetivo %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Rua</h5><p><%= data[0].rua %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Bairro</h5><p><%= data[0].bairro %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Numero</h5><p><%= data[0].numero %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>cidade</h5><p><%= data[0].cidade %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Cep</h5><p><%= data[0].cep %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Estado</h5><p><%= data[0].estado %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Certificado</h5><p><%= data[0].nomeCert %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Data Certificado</h5><p><%= data[0].dataCert %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Descricao certificado</h5><p><%= data[0].descricaoCert %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Nome Curso</h5><p><%= data[0].nomeCurso %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Instituicao Curso</h5><p><%= data[0].instituicao %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Conclusao do Curso</h5><p><%= data[0].conclusaoCurso %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Descricao curso</h5><p><%= data[0].descricaoCur %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Curso Academico</h5><p><%= data[0].cursoA %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Instituicao Academica</h5><p><%= data[0].instituicaoA %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Termino Academico</h5><p><%= data[0].terminoA %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Habilidades</h5><p><%= data[0].habilidades %></p>
                </div>
               
                <div class="card-body">
                        <h5 class="card-title"></h5>instituicao Experiencia</h5><p><%= data[0].instituicaoEx %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Cargo</h5><p><%= data[0].cargo %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Inicio no Cargo</h5><p><%= data[0].inicio %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Termino cargo</h5><p><%= data[0].terminoEx %></p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"></h5>Atividades</h5><p><%= data[0].atividades %></p>
                </div>
                

        </div>

    </div>    
</div>